@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #3f3f3f;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #d4d4d4;
}

header nav a {
    padding: 10px 20px;
    font-size: 2rem;
    color: #d4d4d4;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
    background: #000000;
    color: #d4d4d4;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
}

header nav img.logo-img {
    border: 0px #000000;
    float: left;
}

body {
    background: #d4d4d4;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) {
    color: #ffffff;
}

section:nth-child(2) {
    color: #000000;
    background: #ffffff;
}

section:nth-child(3) {
    color: #000000;
}

section:nth-child(4) {
    color: #000000;
    background: url("Images/Services_bck.png") #d4d4d4;
    background-size: auto 100%;
    background-position: center;
    border: 20px solid #ffffff;
}

section:nth-child(5) {
    color: #000000;
}

section .container {
    margin: 100px;
}

section h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .text-container {
    display: flex;
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}

section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

img {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }
    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}